@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1592216747325'); /* IE9 */
  src: url('iconfont.eot?t=1592216747325#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABpwAAAKCAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBIIEoATYCJAMICwYABCAFhG0HNhvUBREVjDWyHwVu+0CV6tCfngm8rt2qHF1LOQdBPM3lz9vdpMCoyBEoYBAGc7JIwh24ClNhKhzZj+iytWmHe6MiFEtyHnyX/5GHHS6EjvN1ukaOJVwrXBsggECtT9w7/S2gQOYDymWOSZO6AOOAAhpjURRZAYU5N4zdROAQrkOAUDIpR1ra2vsJxgDmCSDrK0szBOeCGIyVCUawa7Ya5AyLYLWvnsAp/7x8UiHBoLA0oKZ7sXWehnf3MEc7rmOcEoRA0HZbgAbKAQPSX5vsRCMWXROaNOTCvioF3t27LjUje/3zEBtQHg5Auiq8JxEW3+o3FQAGsIEKoGZUDtjhEgIfjt0KP/B7AmERhz7Hu6kc32HA4z/w9kv5QtPpSUODN57AYcLAtRPff1XdOPUQGZMeE/kQQW312dkZeZrNw9apiKTGDY/ITbm/3uCQ+5Tc1Lvfbz91n4TuaAD8THuUgwAC0f+/f6aiav4EhxkAniO6ANcb+rkh+Dwugf8l6tlhQgkwKeOLarOKCuz7qAslFHDp3ljexmoTbi4rBJNwi+4gMlJogsknGVo5LMKogk0w9QilDGe+O0wctiQLAUqdFYhoFyiRHqFFe5MM7QtLoj9s0S0RarC4I8MUVqlmRi3owJygstR7ZBElKldYTK3mrIQzdshjFYE4iIqZHHvkOVaM+yIR8eCZOsiU27BtCQamGq0EpciQhqGve1FgqZspzRjSBHKAcQIqFul52luo0vtXUGHS0rilbcC9g9ioGhzEAlEPUq7se7XdyzOjvUJCCA94jHRApkxCrRYBQ/2kGrJEoBwRH6RC2M33VQbrq7uv2weEAjoVrNGEv+p5IoW6F5pmMwAA') format('woff2'),
  url('iconfont.woff?t=1592216747325') format('woff'),
  url('iconfont.ttf?t=1592216747325') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1592216747325#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinrujiantou:before {
  content: "\e799";
}

